<div class="content body">
    <h1>Ocorrências</h1>
    <table class="table table-striped">
        <tr>
            <th>Descricao</th>
            <th>Data do chamado</th>
        </tr>
        <tr ng-repeat="occurrence in occurrences">
            <td>{{occurrence.description}}</td>
            <td>{{occurrence.created_at}}</td>
        </tr>
    </table>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-plus"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Ocorrências</span>
                <span class="info-box-number">93,139</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
</div>